*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 5px solid black;
}

.box{
    width: 350px;
    height: 80px;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid yellow;
    position: relative;
    animation-name: rightMovement;
    /* animation-duration: 5s; */
    /* animation-iteration-count: 1; */
    /* animation-delay:2s ; */
    /* animation-timing-function: ease-in; */
    /* animation-timing-function: ease-in-out; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-direction: alternate; */
    animation-fill-mode: forwards;
    
    animation: 2s linear 1s infinite alternate none running rightMovement ;

}

@keyframes rightMovement{
    from{
         top: 0;
         left: 0;
    }

    to {
     top: 0;
     left: 350px;
    }
}

.circle{
    width: 100px;
    height: 100px;
    background-color:red;
    border-radius: 50px;
    margin: 50px;
    border: 3px solid yellow;
    position: relative;
    top: 150px;
    left: 200px;
    animation: 10s ease-in-out 0s  infinite alternate-reverse none running circleMovement ;
    
}

@keyframes circleMovement{
0%{
    top: 1%;
    left:5%
}
30%{
    top: 5%;
    left: 90%;
}
60%{
    top: 70%;
    left: 10%;
}
100%{
   top: 50%;
   left: 70%;
}
}

/* 
.box1{

    width: 350px;
    height: 80px;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid yellow;
    position: relative;
    display: flex;
} */