div{
    border: 1px solid black;
}

img{
    margin: 10px;
}

.img2{
   /* position: relative; */
   /* top: 80px; */
   /* left: 200px; */
   /* position:absolute; */
}

.container{
    position: relative;
    height: 2000px;
    background-color: aquamarine;
}

.img4{
    position: fixed;
    
}

.img3{
    position: sticky;
    top: 100px;
}

.box{
    height: 8000px;
    background-color: blue;
}

